# MacOS
.DS_Store
._*

# Word
~$*

# Project doc
ok---编译原理实践--设计指导参考.docx

# Prompts for codex
prompts

# Python cache
__pycache__/
*.py[cod]

# Output directory
out

# Report
latex_template/
编译原理课程设计实验报告.docx